

venv/
.streamlit/secrets.toml
__pycache__/
archive.zip
archive/
degrees.csv
funding_rounds.csv
funds.csv
investments.csv
ipos.csv
milestones.csv
objects.csv
offices.csv
people.csv
relationships.csv
acquisitions.csv